/* Base styles */
.App {
  text-align: center;
  background-color: #800080; /* Change background color to #800080 */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Video container styles */
.video-container {
  text-align: center;
  margin-top: 20px; /* Adjust as needed */
}

.video-wrapper {
  bottom: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  z-index: 999; /* Ensure the video stays above other content */
}

/* Putharekulu styles */
.putharekulu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Align items to the center */
}

.putharekulu-item {
  margin: 20px;
  width: 200px;
}

.putharekulu-item img {
  width: 100%; /* Adjust the width to fill the container */
  height: auto;
}

.putharekulu-item h3 {
  margin-top: 10px;
}

.putharekulu-item p {
  font-weight: bold;
}

/* Shopping Cart styles */
.cart {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  padding: 20px;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.cart.show {
  transform: translateX(0);
}

.cart h2 {
  margin-bottom: 20px;
}

.cart ul {
  padding: 0;
  list-style: none;
}

.cart ul li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.cart ul li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.cart img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.cart div {
  flex-grow: 1;
}

